[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typer = "*"
pydantic = "*"
sqlmodel = "*"
httpx = "*"
requests-cache = "*"
rapidfuzz = "*"
rich = "*"
"ruamel.yaml" = "*"
comicplex = {file = ".", editable = true}

[dev-packages]
pytest = "*"
coverage = "*"
black = "*"
ruff = "*"
mypy = "*"

[requires]
python_version = "3.13"
python_full_version = "3.13.2"
